@import url("https://fonts.googleapis.com/css2?family=Mansalva");
@import "tailwindcss";

@theme inline {
  /* --font-palanquin: "Palanquin Dark", sans-serif;
  --font-young: "Young Serif", serif;
  --font-inter: "Inter", sans-serif;
  --font-yuji: "Yuji Mai", serif;
  --font-mansalva: "Mansalva", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-montagu: "Montagu Slab", serif; */
  --font-mansalva: "Mansalva", sans-serif;
  --font-calibre: "calibre", sans-serif;
  --color-light: #fcfaee;
  --color-lightGray: #f2efdf;
  --color-green: #2cb775;
  --color-orange: #ff9933;
  --breakpoint-xxs: 345px;
}
@utility container {
  @apply mx-auto max-w-none 2xl:max-w-[1800px] px-4 md:!px-10 lg:px-8;
}
@layer components {
  .bg-body {
    @apply bg-[url('/images/banners/bg-for-body.webp'),linear-gradient(#fcfaee,#fcfaee)] bg-center;
  }
  .bg-body2 {
    @apply bg-[url('/images/banners/bg-for-body2.webp'),linear-gradient(#F0ECDC,#F0ECDC)] bg-center;
  }
  .bg-banner-subscription {
    @apply bg-[linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('/images/banners/banner2.webp')] bg-center bg-cover;
  }
  .bg-about-banner {
    @apply bg-[linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('/images/banners/about-banner.webp')] bg-center bg-cover;
  }
  .bg-footer-banner {
    @apply bg-[linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('/images/banners/footer-banner.webp')] bg-center bg-cover;
  }
}
@layer utilities {
  .header-gradient {
    background: linear-gradient(
      180deg,
      rgba(44, 183, 117) 0%,
      rgba(222, 141, 61) 66.21%
    );
  }
  .hoverEffect {
    @apply transition-colors duration-300;
  }
}
@layer base {
  body {
    @apply font-calibre;
  }
}
@custom-variant hover (&:hover);

.ql-editor p {
  margin-top: 0;
  margin-bottom: 16px !important;
}

.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  margin-top: 24px !important;
  margin-bottom: 12px !important;
}

.ql-editor ul,
.ql-editor ol {
  padding-left: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.ql-editor ol li {
  list-style: decimal !important;
  margin-bottom: 8px;
}
.ql-editor ul li {
  list-style: disc !important;
  margin-bottom: 8px;
}
.ql-editor a {
  color: var(--color-slate);
  text-decoration: underline !important;
}

.ql-editor ol,
.ql-editor ul {
  list-style: none;
  counter-reset: item;
  padding-left: 0;
}

.ql-editor ol li,
.ql-editor ul li {
  counter-increment: item;
  display: flex;
  gap: 0.5rem;
}

.ql-editor ol li::before {
  content: counter(item) ".";
}
.ql-editor ul li::before {
  content: "•";
}
